#desplegable {
      padding: 0;
    margin: 0;
    border: 0; 
}

#desplegable ul, li {
      list-style: none;
     margin: 0;
      padding: 0; 
}

#desplegable ul {
      position: relative;
      z-index: 597;
      float: left; 
}

#desplegable ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}

#desplegable ul li.hover,
#desplegable ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default; 
}

#desplegable ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%; 
}

#desplegable ul ul li {
  float: none; 
}

#desplegable ul li:hover > ul {
  visibility: visible; 
}

#desplegable ul ul {
  top: 0;
  left: 100%; 
}

#desplegable ul li {
  float: none; 
}

#desplegable {
  width: 200px; 
}

#desplegable span, #desplegable a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}

#desplegable:after, #desplegable ul:after {
    content: '';
    display: block;
    clear: both; 
}

#desplegable ul, #desplegable li {
    width: 100%; 
}
#desplegable li {
    background: #dddddd;
}
#desplegable li:hover {
    background: #f6f6f6; 
}
#desplegable a {
    color: #666666;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 144px; 
}
#desplegable ul ul li {
    background: #f6f6f6; 
}
#desplegable ul ul li:hover {
    background: #dddddd; 
}
#desplegable ul ul li:hover a {
    color: #666666; 
}
#desplegable ul ul li ul li {
    background: #dddddd; 
}
#desplegable ul ul li ul li:hover {
    background: #b7b7b7; 
}
#desplegable .has-sub {
    position: relative; 
}

#desplegable .has-sub:after, #desplegable .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
    background-image: url(right.png);
}
#desplegable .has-sub > ul > .has-sub:after, #desplegable .has-sub:hover:after {
    background-image: url(right.png); 
}